body{
    background-color: #FF0000;
}

div {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: #000000;
}

@media (max-width: 1000px) {

    body {
        background-color: #0000FF;
    }

    h1 { 
        font-size: 25px;
    }
}

@media ((min-width: 601px) and (max-width: 1000px)) {

    body {
        background-color: #00FFFF;
    }

    h1 { 
        font-size: 20px;
    }
}

@media (max-width: 600px) {

    body {
        background-color: #CCC;
    }

    h1 { 
        font-size: 15px;
    }
}

@media (orientation: landscape){
    body {
        flex-direction: row;
    }
}

@media (orientation: portrait){
    body {
        flex-direction: column;
    }
}